<%- include('partials/head.ejs', { title: "About" }) %>
<%- include('partials/auto-menu.ejs') %>
<%- include('partials/alert.ejs') %>

<h2>
        <center>
            <p class="text-primary">
                About us
            </p>
        </center>
</h2>

<div class="well">
    The Bot Platform was created as an academic project by:
    <ul>
        <li>Mateusz Hazy</li>
        <li>Jarosław Kwiecień</li>
        <li>Jakub Kuczkowiak</li>
    </ul>
    We hope that in the course of time our platform will become one of the most popular
    sites of that kind.
</div>


<%- include('partials/end.ejs') %>
