<%- include('partials/head.ejs', { title: 'Register' }) %>
<%- include('partials/auto-menu.ejs') %>
<%- include('partials/alert.ejs') %>

<header>
    <h2 class="text-center">    
        <p class="text-primary">
            Sign up to platform
        </p>
    </h2>
</header>


<form method="post" action="/signup" class="form-signup">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
        <div class="account-wall">
            <label for="userName">Username:</label>
            <input type="text" name="userName" class="form-control" required autofocus>
            <label for="email">Email Address:</label>
            <input type="email" name="email" class="form-control" required>
            <label for="password">Password:</label>
            <input type="password" name="password" class="form-control" required>
            <label for="confirm">Confirm Password:</label>
            <input type="password" name="confirm" class="form-control" >
            <input type="submit" value="Sign up" class="btn btn-lg btn-primary btn-block">
        </div>
        </div>
    </div>
</form>

<%- include('partials/end.ejs') %>