<%- include('../partials/head.ejs', { title: 'Testowanie' }) %>
<%- include('../partials/alert.ejs') %>

<a href="/testing/tictactoe">Kółko i Krzyżyk</a><br>
<a href="/testing/tictactoe-code">Kółko i Krzyżyk - wyślij swój kod!</a>

<%- include('../partials/end.ejs') %>