<html>
    <head>
        <style>
            #arena {
                width: 600px;
                height: 400px;
            }
            #loading {
                line-height: 400px;
                text-align: center;
            }
        </style>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>
    <body>
        <div id="arena">
            <div id="loading">
                Ładowanie...
            </div>
            <div id="animation">
                <canvas id="canvas" width="600px" height="400px" style="border:1px solid #000000;"/>
            </div>
        </div>
        <script>
            function drawAnimation(canvas, history) {
                var foo = (function () {
                    var pos = 0;
                    
                    function sign(nr) {
                        if (nr == -1) return "";
                        if (nr == 0) return "O";
                        if (nr == 1) return "X";
                    }

                    function draw () {
                        if (pos == history.updates.length) pos--;

                        var ctx = canvas.getContext("2d");

                        ctx.fillStyle = "red";
                        ctx.fillRect(0,0,300,300);
                        ctx.fillStyle = "black";
                        ctx.font = "100px Arial";
                        for (var i =0; i<3; i++) {
                            for (var j=0; j<3; j++) {
                                ctx.fillText(sign(history.updates[pos].description.board[i][j]), j*100, (i+1)*100);
                            }
                        }
                        pos++;
                    }

                    return draw;
                })();

                setInterval(foo, 1000);
            }

            $('#animation').hide();
            fetch('/testing/run-tictactoe')
                .then(response => response.json())
                .then(response => {
                    console.log(response);
                    $('#loading').hide();
                    $('#animation').show();
                    drawAnimation(canvas, response);
                });
        </script>
    </body>
</html>