<html>
        <script>
                var foo = (function () {
                    var pos = 0;
                    var history = {"updates":[{"turn":0,"description":{"board":[[0,-1,-1],[-1,-1,-1],[-1,-1,-1]]}},{"turn":1,"description":{"board":[[0,-1,1],[-1,-1,-1],[-1,-1,-1]]}},{"turn":1,"description":{"board":[[0,-1,1],[-1,-1,-1],[-1,0,-1]]}},{"turn":2,"description":{"board":[[0,-1,1],[-1,-1,-1],[1,0,-1]]}},{"turn":2,"description":{"board":[[0,-1,1],[-1,0,-1],[1,0,-1]]}},{"turn":3,"description":{"board":[[0,1,1],[-1,0,-1],[1,0,-1]]}},{"turn":3,"description":{"board":[[0,1,1],[-1,0,0],[1,0,-1]]}},{"turn":4,"description":{"board":[[0,1,1],[1,0,0],[1,0,-1]]}},{"turn":4,"description":{"board":[[0,1,1],[1,0,0],[1,0,0]]}}],"fails":[],"results":[1,2],"initialInfo":{}};
                    
                    function sign(nr) {
                        if (nr == -1) return "";
                        if (nr == 0) return "O";
                        if (nr == 1) return "X";
                    }

                    function draw () {
                        if (pos == history.updates.length) pos--;

                        var canvas = document.getElementById("myCanvas");
                        var ctx = canvas.getContext("2d");

                        ctx.fillStyle = "red";
                        ctx.fillRect(0,0,300,300);
                        ctx.fillStyle = "black";
                        ctx.font = "100px Arial";
                        for (var i =0; i<3; i++) {
                            for (var j=0; j<3; j++) {
                                ctx.fillText(sign(history.updates[pos].description.board[i][j]), j*100, (i+1)*100);
                            }
                        }
                        pos++;
                    }

                    return draw;
                })();

                setInterval(foo, 1000);
        </script>
	<body>
        <canvas id="myCanvas" width="300" height="300"></canvas>
    </body>
</html>		
