.table .row:nth-child(even) {
    background-color: #f1f1f1;
}

canvas {
    width: 100%;
    height: auto;
}

.code-editor {
    min-height: 310px;
    margin: 10px;
    border: 1px solid gray;
}

.game-navigator {
    background: #cacaca;
}

.game-navigator > * {
    margin-top: 2px;
    margin-bottom: 2px;
}

.game-canvas-container {
    background-color: #f5f5f5;
    border-color: #cacaca;
    border-style: solid;
    border-width: 3px;
    border-top-width: 3px;
    border-left-width: 3px;
    border-top-width: 3px;
    border-bottom-width: 0px;
}

.game-current-turn {
    padding-top: 2px;
    margin-top: 4px;
    margin-bottom: 4px;
    border-radius: 3px;
    background: #fcfcfc;
    height: 25px;
}

.game-current-turn.disabled {
    color: #5a5a5a;
    background: #ececec;
}

.game-viewer pre {
    height: 80px;
}